.card{
  margin: 0.5rem 1rem;
  padding: 1.5rem 2rem;
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
  width: fit-content;
}

.card > p{
  margin-bottom: 1rem;
}
.card > label{
  background-color: lightgray;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}